<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.category %></p>
  <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  <hr>
<% end %>

<%= link_to "Add a Restaurant", new_restaurant_path, class: "btn btn-danger"%>
